<%= provide(:title, 'Sign up') %>

<div>
	<h1 class="center">Sign up</h1>

	<%= render 'shared/error_messages', object: @user %>

	<div class="row">
		<div class="span4 offset4">
			<%= form_for(@user, html: { class: "form" }) do |f| %>

				<%= f.text_field :name, placeholder: "Name" %>

				<%= f.text_field :email, placeholder: "Email" %>

				<%= f.password_field :password, placeholder: "Password" %>

				<%= f.password_field :password_confirmation, placeholder: "Confirm password" %>

				<%= f.submit "Sign up", class: "btn btn-success" %>

			<% end %>
		</div>
	</div>
</div>